html,
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Montserrat;
}

main,
header {
    padding: 0 10%;
}

@media (max-width : 1100px) {

    main,
    header {
        padding: 0 5%;
    }
}

@media (max-width : 1450px) {

    main,
    header {
        padding: 0 7%;
    }
}

@media (min-width : 2200px) {

    main,
    header {
        padding: 0 13%;
    }
}

.top-section {
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    width: auto;
    height: 20vh;
}

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}