#LogoFooter {
    width: 100px;
}

footer {
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 2% 0;
    margin-top: auto;
}

footer p {
    color: white;
    margin: 10px 0;
}