#container-host{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      justify-content: flex-end;
}
#container-host h2{
      display: flex;
      flex-wrap: wrap;
}
#container-host img{
      border-radius: 50%;
      width: 64;
      height: 64px;
}