#notfound-container *{
    color: #FF6060;
}
#notfound-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}
#notfound-container h1{
    font-size: 15vw;
    margin-bottom: 0;
}
#notfound-container{
    text-align: center;
}
#notfound-container h2{
    font-weight: 500;
}
